services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: svelte-app-dev
    ports:
      - "3000:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true